{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
<h2 style="color:#404040">Manage Tariffs 
 <a href="{{ url_for('main.viewplanuser') }}" >
<button type="button" name="viewplanuser" class="btn btn-success float-right" style="margin-left:10px">
View User Plans</button></a>
<button type="button"  class="btn btn-success float-right"
     data-toggle="modal" data-target="#mymodal">Add New Tariffs</button> </h2>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <table class="table table-hover table-light">
                    <tr>

                        <th>ID</th>
                        <th>Name</th>
						<th>Type of Plan  (Data / Voice)</th>
                        <th>Tariff  (Rate /min)</th>
                        <th>Validity (in days)</th>
                        <th>Rental (if any)</th>

                    </tr>


                   {% for row in employees %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td> 
                        <td>{{row.type}}</td>
                        <td>{{row.tariff}}</td>
						<td>{{row.validity}}</td>
						<td>{{row.rental}}</td>

                        <td>
                            <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>


                        </td>

                    </tr>


                  <!-- Modal Edit Employee-->
<div id="modaledit{{row.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title"style="color:#404040">Update Information</h4>
         </div>
         <div class="modal-body">
            <form action="{{url_for('main.plan_update')}}" method="POST">
               <div class="form-group"style="color:#404040">
                  <label >Name:</label>
                   <input type="hidden"  name="id" value="{{row.id}}">
                  <input type="text" class="form-control" name="name" value="{{row.name}}">
               </div>
               <div class="form-group"style="color:#404040">
                  <label>Type of Plan (Data / Voice):</label>
                  <input type="text" class="form-control" name="type" value="{{row.type}}">
               </div>
               <div class="form-group"style="color:#404040">
                  <label>Tariff (Rate /min):</label>
                  <input type="text" class="form-control" name="tariff" value="{{row.tariff}}">
               </div>
			   <div class="form-group"style="color:#404040">
                  <label>Validity (in days):</label>
                  <input type="text" class="form-control" name="validity" value="{{row.validity}}">
               </div>
			   <div class="form-group"style="color:#404040">
                  <label>Rental (if any ):</label>
                  <input type="text" class="form-control" name="rental" value="{{row.rental}}">
               </div>
               <div class="form-group"style="color:#404040">
                  <button class="btn btn-primary" type="submit">Update</button>
               </div>

            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>


                    {% endfor %}


                </table>


            </div>



                  <!-- Modal Add Employee-->


<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">

            <h4 class="modal-title"style="color:#404040">Add Tariff</h4>
         </div>
         <div class="modal-body">
            <form action="{{url_for('main.post_insert')}}" method="POST">
               <div class="form-group" style="color:#404040">
                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">
               </div>
                <div class="form-group"style="color:#404040">
                  <label>Type of Plan (Data / Voice):</label>
                  <input type="text" class="form-control" name="type" required="1">
               </div>
                <div class="form-group"style="color:#404040">
                  <label>Tariff  (Rate /min):</label>
                  <input type="text" class="form-control" name="tariff" required="1">
               </div>
			   <div class="form-group"style="color:#404040">
                  <label>Validity  (in days):</label>
                  <input type="text" class="form-control" name="validity" required="1">
               </div>
				<div class="form-group"style="color:#404040">
                  <label>Rental (if any):</label>
                  <input type="text" class="form-control" name="rental">
               </div>
               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Add Tariff</button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
        </div>
    </div>
</div>


{% endblock %}
