{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Enter User Details</legend>
        <div class="form-group">
          {{ form.user_id.label(class="form-control-label") }}

          {% if form.user_id.errors %}
            {{ form.user_id(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.user_id.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.user_id(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.plan_id.label(class="form-control-label") }}
          {% if form.plan_id.errors %}
            {{ form.plan_id(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.plan_id.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.plan_id(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.monthly_bill.label(class="form-control-label") }}
          {% if form.monthly_bill.errors %}
            {{ form.monthly_bill(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.monthly_bill.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.monthly_bill(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
{% endblock content %}