{% extends "layout.html" %}
{% block content %}

    <div class="form-group">
        <label for="exampleInputEmail1">Customer ID </label>
        <br>

        <b>{{id}}</b>
    </div>    
      <div class="form-group">
        <label for="exampleInputEmail1">Customer Name</label>
       <br>
        <b>{{transactions[0][1]}}</b>
      </div> 
    </br>   
      <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Date Of Call</th>
          <th scope="col">Call Duration</th>
          <th scope="col">Amount Payable</th>
        </tr>
      </thead>
      <tbody>
        {% for row in transactions %}
        <tr>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        <!--button type="submit" class="btn btn-primary">Search</button-->  
        <a class="btn btn-primary" href="/user/{{id}}">Go Back</a> 
  
      </div>
       
{% endblock content %}
